#chat.md
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ignore plan files
*.tfplan
*tfplan*

# Terraform variable files (DO NOT COMMIT)
terraform.tfvars
*.auto.tfvars

# Sensitive files
*.pem
*.key
infra.*
test